.hinder{
    width: 800px;
    height: 700px;
    background-color: black;
    position: fixed;
    z-index: -1;
    display: none;
    margin:0px; 
}
h1{
    color: red;
    position:static;
}
body{
    background-color: rgb(255, 255, 255);
    
        
    
}
.wrapper div {
    position: absolute;
}

button{
    width: 8vw;
    font-size: 3vw;
    margin-left: 170px;
}
.startMSG{
    background-color: gray;
    margin:auto;
    width: 500px;
    height: 300px;
}
p{
    font-size: xx-large;
}